@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-font: "lato", san-seriff;
  --primary-color: #eabcde;
  --primary: rgb(13, 51, 68, 0.92);
  --primary-dark: rgb(5, 38, 52, 0.92);
  --secondary: #49a0eb;
  --secondary-focus: rgba(40, 87, 128, 0.88);
  --off-white: #fcfcfc;
  --web-color: #00b0ff;
  --section-color: #333;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  margin: 1px 0px;
  margin-bottom: 8px;
  border-bottom: 4px solid gray;
  background-color: var(--primary);
  color: var(--off-white);
}

.header > h1 {
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #999;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header > p {
  color: #999;
  font-size: x-large;
}

.person-name {
  color: var(--primary);
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  padding: 7px;
  margin: 1px 0px;
  margin-bottom: 8px;
}

/* Down Arrow */
.down-arrow {
  display: inline-block;
  color: var(--primary);
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 20px;
}

.tribute-section {
  display: flex;
  flex-direction: column;
  margin: 10px 2px;
  padding: 10px;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
  color: var(--section-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 -4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.tribute-section:hover {
  border: 2.5px solid var(--secondary);
  border-radius: 6px;
  margin-top: 15px;
}

.tribute-section h2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Buttons */
.btn {
  display: inline-block;
  max-width: 400px;
  height: 30px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--off-white);
  filter: opacity(100%);
  transition: opacity 5s;
}

.btn:hover {
  cursor: pointer;
  filter: opacity(0.95);
}

/* Images */
.person-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 8px 2px;
}

/* Footer */

.social .list-group .list-item .fa {
  padding: 10px;
  font-size: 1.4rem;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.social .list-group .list-item .fa-twitter {
  color: #00acee;
  background-color: white;
  border-radius: 10px;
}
.social .list-group .list-item .fa-twitter:hover {
  color: white;
  background-color: #00acee;
}

.social .list-group .list-item .fa-linkedin {
  color: white;
  background-color: #0e76a8;
  border-radius: 10px;
}
.social .list-group .list-item .fa-linkedin:hover {
  color: #0e76a8;
  background-color: white;
}

.social .list-group .list-item .fa-github {
  color: black;
  background-color: white;
  border-radius: 10px;
}
.social .list-group .list-item .fa-github:hover {
  color: white;
  background-color: black;
}

.social .list-group .list-item .fa:hover {
  opacity: 0.9;
}

.divider {
  width: 20vh;
  height: 4px;
  border-radius: 100px;
  background-color: var(--web-color);
  margin: 3px auto;
  margin-bottom: 5px;
}

.divider-footer-header {
  background-color: #999;
}

.footer {
  background-color: var(--primary);
  text-align: center;
  font-size: 1.3rem;
  padding: 5px 2px;
  color: #999;
  font-weight: 100px;
  border-top: 4px solid gray;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer .nav-bar .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.6rem;
  margin: 0.4rem;
}

footer .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100px;
  margin: 2px;
}

footer .list-group .list-item {
  display: inline;
}

.social {
  text-align: center;
}

.social .link {
  padding: 3px;
}
.social .link:hover {
  color: var(--secondary-focus);
  text-decoration: underline;
}

/*  Heroes sections and Pages For Each Person */

.introduction-section,
.inspiration-section,
.biography-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  color: #333;
  margin: 30px 10px;
}

.person-data {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person-data > h2,
.inspiration-section > h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.inspiration-section > h2 {
  margin-bottom: 10px;
}

.person-data > p {
  font-size: 1.2rem;
  font-weight: 580px;
  margin-top: 3px;
}

.video-banner {
  max-width: 1300px;
  height: 35vh;
  margin: 10px auto;
  background-color: black;
  overflow: hidden;
}

.video {
  max-width: 1200px;
  height: 35vh;
  overflow: hidden;
  width: 350px;
  height: 245px;
}

.img-quote {
  display: inline-block;
  position: relative;
  /* left: 8px; */
  width: 350px;
  height: 240px;
  filter: opacity(90%);
}

.biography-section {
  padding: 10px;
}

.biography-section > p {
  padding: 10px;
  letter-spacing: 1px;
}

.author {
  color: var(--web-color);
  text-decoration: none;
  font-weight: 300;
}

.facts-section {
  /* margin: 10px auto; */
  padding: 10px;
  letter-spacing: 1px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.facts-section > p {
  margin: 3px;
}
.facts-section > h2 {
  text-transform: capitalize;
  color: #666;
  margin: 4px;
}

/* Reference */

.reference {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #333;
  line-height: 30px;
}

.credit-website {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.2rem;
}

.reference-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.copyright {
  font-size: small;
}
